<div class="col-md-3 col-12 col-sm-3">
  <div class="nav flex-column nav-pills left-bar" role="tablist" aria-orientation="vertical">
    <a class="nav-link" href="" id=aggrement_link disabled><i class="fa fa-check" id="aggrement_check"></i><span id="aggrement_span">1</span> Agreements</a>
    <a class="nav-link" href="" id=identity_link disabled><i class="fa fa-check" id="identity_check"></i><span id="identity_span">2</span> Identity</a>
    <a class="nav-link" href="" id=payment_link disabled><i class="fa fa-check" id="payment_check"></i><span id="payment_span">3</span> Payment</a>
    <a class="nav-link" href="" id=confirmation_link disabled><i class="fa fa-check" id="confirmation_check"></i><span id="confirmation_span">4</span> Confirmation</a>
  </div>
</div>
