<div class="col-md-3 col-12 col-sm-3">
  <div class="nav flex-column nav-pills left-bar" role="tablist" aria-orientation="vertical">
  	<label class="nav-link" id=aggrement_link><i class="fa fa-check" id="aggrement_check"></i><span id="aggrement_span">1</span>Agreements</label>
  	<label class="nav-link" id=identity_link><i class="fa fa-check" id="identity_check"></i><span id="identity_span">2</span> Identity</label>
  	<label class="nav-link" id=payment_link><i class="fa fa-check" id="payment_check"></i><span id="payment_span">3</span> Payment</label>
  	<label class="nav-link" id=confirmation_link><i class="fa fa-check" id="confirmation_check"></i><span id="confirmation_span">4</span> Confirmation</label>
  </div>
</div>
